.typography {
  text-align: center;
  font-family: var(--font-mont);
}

.white {
  color: #fff;
}

.black {
  color: #171718;
}

.large {
  font-size: 78px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px;
}

.medium {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 78px;
}

.small {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
