@import "../../../styles/variables.scss";

.footer {
  background: var(--bg-color);
}

.footer_inner {
  padding: 100px 0;

  display: flex;
  gap: 220px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 125px;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
}

.copyright {
  font-family: var(--font-mont);
  font-size: 15px;
  color: var(--grayscale-400);
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.list {
  // display: flex;
  // flex-direction: column;
  // gap: 20px;
}

.link {
  font-family: var(--font-mont);
  font-size: 15px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.item + .item {
  padding-top: 20px;
}

.locations {
  ul {
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
}

.border {
  height: 1px;
  background: var(--accent-color);
  width: 44px;
  margin: 20px 0;
}

.text {
  font-family: var(--font-mont);
  font-size: 15px;
  color: #fff;
  font-style: normal;
  gap: 15px;
  font-weight: 400;
  line-height: 18px;
}

.contact {
  display: flex;
  gap: 5px;
}

.contacts_inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.copyright_bottom {
  display: none;
}

@media (max-width: $phoneWidth) {
  .footer_inner {
    flex-direction: column;
    gap: 20px;
    padding: 50px 30px;
  }

  .copyright {
    text-align: center;
    display: none;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .item {
    padding: 16px;
    width: 100%;
    text-align: center;
    border: 1px solid var(--grayscale-700);
  }

  .locations ul {
    padding-left: 20px;
  }

  .copyright_bottom {
    display: block;
    font-family: var(--font-mont);
    font-size: 15px;
    color: var(--grayscale-400);
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    background: #000;

    padding: 32px 100px;
    text-align: center;
  }

  .item + .item {
    margin-top: 7px;
  }

  .logo {
    margin: 0 auto;
    display: block;
  }

  .left {
    gap: 30px;
  }

  .right {
    grid-template-columns: auto;
    gap: 30px;
  }
}
