@import "reset";
@import "variables";

:root {
  --accent-color: #d93b32;
  --grayscale-color: #3f4247;
  --grayscale-250: #d5d8de;
  --grayscale-550: #727986;
  --grayscale-400: #a8adb8;
  --layout-color: #f2f4f6;
  --bg-color: #171718;
  --grayscale-description: #a8adb8;
}

.layout {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 15px;
}

.grayscale {
  color: var(--grayscale-color);
}

.gap-20 {
  padding-bottom: 20px;
}

.gap-40 {
  padding-bottom: 40px;
}

.portfolio {
  .swiper-container {
    overflow: visible;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .slider-wrap {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: red;
  }

  .swiper-slide {
    transition: all 0.3s ease !important;
    display: flex !important;
    align-items: center;
    // width: 90vw !important;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 0.5;
    transition: all 1s ease;
    &:hover {
      opacity: 1;
    }
  }

  .swiper-slide-active {
    transform: scaleX(1.1) !important;
    transition: transform 0.3s ease;
  }
}

.vertical {
  width: 100% !important;

  .swiper-slide {
    width: 100% !important;
    height: 100% !important;
  }
}

.press {
  width: 100% !important;
  height: 100% !important;

  .swiper-slide {
    width: 417px !important;
    height: 100% !important;
  }
}

.portfolio-slider {
  width: 100% !important;
  height: 100% !important;

  .swiper-slide {
    width: 100% !important;
    height: 100% !important;
    background-position: center;
    background-size: cover;
  }

  .swiper-pagination {
    cursor: pointer;
  }
}

.portfolio-swiper-button-prev {
  background: rgba(23, 23, 24, 0.75);
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  position: absolute;
  top: 50%;
  left: -70px;
  z-index: 9999;
}

.portfolio-swiper-button-next {
  background: rgba(23, 23, 24, 0.75);
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  position: absolute;
  z-index: 9999;
  right: -70px;
  top: 50%;
}

.portfolio-swiper-button-next .swiper-button-disabled {
  right: 20px !important;
}

.portfolio-slider-last-slide .portfolio-swiper-button-next {
  right: inherit;
  left: 0;
}

.open {
  left: 0 !important;
  overflow: hidden !important;
}

@media screen and (max-width: $smDesktopWidth) {
}

@media screen and (max-width: $tableWidth) {
}

@media screen and (max-width: $phoneWidth) {
  .press {
    width: 100% !important;
    overflow: hidden !important;

    .swiper-slide {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
