.menuContainer {
  position: relative;
}

.burger {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grayscale-250);
  background: transparent;
  cursor: pointer;
  position: relative;
}
.close_button {
  z-index: 9999;
  position: absolute;
  top: 0;
}

.burgerBar {
  width: 24px;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  z-index: 9999;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s ease-in-out;
}

.open {
  left: 0;
}
