.typography {
  color: #fff;
  text-align: center;
  font-family: var(--font-mont);
}

.large {
  font-size: 78px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px;
}

.medium {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 78px;
}
