.banner {
  position: relative;

  background: linear-gradient(
      0deg,
      rgba(23, 23, 24, 0.55) 0%,
      rgba(23, 23, 24, 0.55) 100%
    ),
    lightgray 0px -390.457px / 100% 191.238% no-repeat;
}

.image {
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.text {
  margin: 0 auto;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
}
