.title {
  padding: 100px 0 0;
}

.description {
  color: var(--grayscale-550);
  text-align: center;
  font-family: var(--font-mont);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 35px 0;
  line-height: 34px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
