@import "../../../styles/variables.scss";

.press {
  background: var(--layout-color);
  padding: 120px 0;
}

.title {
  padding-bottom: 20px;
}

.description {
  text-align: center;
  color: var(--grayscale-color);
  font-family: var(--font-mont);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  padding-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.arrows {
  display: flex;
  gap: 10px;
}

.arrow {
  padding: 14px;
  display: none;
  border: 1px solid var(--grayscale-250);
}

@media (max-width: $phoneWidth) {
  .cards {
    grid-template-columns: auto;
  }

  .arrow {
    display: block;
  }
}
