.link a {
  color: var(--accent-color);
  font-family: var(--font-mont);
  font-size: 62px;
  font-style: normal;
  font-weight: 200;
  line-height: 74px;
  transition: all 0.2s;
}

.link a:hover {
  font-weight: 500;
}

.link + .link {
  padding-top: 30px;
}
