.portfolio {
  background: var(--bg-color);

  padding: 120px 0;

  margin: 120px 0 0;
}

.title {
  padding-bottom: 30px;
}

.arrows {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.arrow {
  padding: 14px;
  border: 1px solid var(--accent-color);
}
